body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("Background.gif"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Pixelify Sans', sans-serif;
    overflow: hidden;
}

#letter-container {
    display: none; 
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    pointer-events: none; 
}

#letter-container.active {
    display: flex;
    pointer-events: auto;
}

/* THE WIDE WINDOW */
.letter-window {
    width: 95vw;
    max-width: 750px; 
    height: 650px; /* Tall enough for a big cat */
    background-color: #ffdae0; 
    padding: 40px; 
    border-radius: 30px;
    border: 6px solid #ff4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    box-shadow: 0 15px 50px rgba(0,0,0,0.4);
}

#letter-cat {
    width: 380px; 
    mix-blend-mode: multiply; 
}

h1 {
    font-size: 26px;
    color: #d63384;
    margin: 0;
}

.buttons {
    width: 100%;
    height: 100px; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.yes-btn, .no-btn {
    width: 100px; 
    cursor: pointer;
    z-index: 10;
}

.no-btn {
    transition: left 0.2s ease-out, top 0.2s ease-out;
}

/* THE DATE INFO - Transparent and Bottom-aligned */
#final-text {
    display: none;
    font-size: 18px;
    color: #d63384;
    text-align: center;
    background: none; /* REMOVES THE WHITE BOX */
    padding: 10px;
    width: 90%;
    border-top: 2px dashed #ff4d4d; /* Nice separator line at the bottom */
    margin-top: 10px;

}

